<!DOCTYPE html>
<html>
<head>
	<title>Displaying Products</title>
	<style>
		body{
		background-color: #ADD8E6;
        font-family: sans-serif;
        padding-top: 200px;
     }
		table, th, td {
  			border: 2px solid black;
  			border-collapse: collapse;
  			text-align: center;
  			padding-top: 10px;
  			padding-bottom: 10px;
		}
	</style>
</head>
<body>
	<br/>
	<br/>
	<table align="center" style="width:30%">
 		<tr>
    		<th>Name</th>
   			<th>Price</th> 
  		</tr>
  		<% result.forEach(function(item){ %>
  		<tr>
  		  	<td><%= item.name %></td>
    	    <td><%= item.price %></td> 
  		</tr>
  		<% }); %>
	</table>
</body>
</html>