<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  body{
    background-color: #fff;
        font-family: sans-serif;
     }
  h1 {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        }
    h3{
        font-size: 27px;
        font-weight: 200;
        text-align: center;
       }
     form{
      text-align: center;
     }
     input{
      height : 30px;
     }
</style>
<body align="center">
  <br/>
  <h1>ACCOUNT CREATION</h1>
  <br/>
  <!-- <form action="/products/create" method="POST"> -->
    <div class="container">
        <div class="image">
                <!-- <img src="../img/logo2.png" alt="Caramel IOT" /> -->
        </div>
    
        <div class="center">
            <div class="loginform">
                <div class="log">
                    <!-- <p>CREATE ACCOUNT</p> -->
                </div>
                
                    <form id="login" action="/api/v1/user/register" method="POST">

                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Fullname" name="name" required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" required/>
                            <div class="help-block with-errors"></div>

                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone" required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div id="loginError"></div>


                        <div>
                            <button onclick="login_page(event)" type="submit" class="button" value="Login" id="loginbtn">Log In</button>
                        </div>
                        <br>
                        <div class="text-center">
                            <a class="forgot" href="/register">Forgot Password?</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
  <!-- </form> -->
  <br/>
  <!-- <form action="/products/get" method="GET">
    <h3>Want to see all the already created products? Click the button below</h3>
    <input type="submit" name="submit" value="Get All Products" >
  </form>
  <br/>
  <form action="/products/update" method="POST">
    <h3>Want to edit an already created product? Provide the input and click on edit</h3>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="price" placeholder="Price">
    <input type="submit" name="submit" value="Edit">
  </form>
  <br/>
  <form action="/products/delete" method="POST">
    <h3>Want to delete a product? Provide the name and click on delete</h3>
    <input type="text" name="name" placeholder="Name">
    <input type="submit" name="submit" value="Delete">
  </form> -->
</body>
</html>